<% unless comment.archived? %>
  <p>
    <h2>Commenter</h2>
    <%= comment.commenter %>
  </p>

  <p>
    <h2>Comment:</h2>
    <%= comment.body %>
  </p>
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], mathod: :delete %>
  </p>
<% end %>